<!-- <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a> -->

<div class="main">
  <h1>List of restaurant</h1>
  <ul class="cards">
    <li class="cards_item" *ngFor="let item of list_restaurant">
      <div class="card">
        <div style="margin:0" class="card_image">
          <img src="../../assets/img/restoLogo.png" style="width:200px;height:200px;" />
           <div class="restoName">{{ item.rName }}</div>
        </div>
        <hr>
        <div  class="card_content">
          <h2 class="card_title">{{ item.rName }}</h2>
          <p class="card_text">
            {{ item.rDescription }}
          </p>
          <p>
            {{ item.rAdress }}
          </p>
          <a style="text-decoration:none" routerLink="/list-food/{{ item._id }}">
            <button class="btn card_btn">show foods</button>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
