/* Font */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img {
  height: 250px;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #1abc9c;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid #1abc9c;
  background: white;
}

.btn:hover {
  background-color: #1abc9c;
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 4rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
    padding: 4.5rem;
  }
  .card{
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
    padding: 4.5rem;

  }
  .card{
    width: 50%;
  }
}
/* @media (max-width: 1245px) {
  .cards_item {
    width: 33.3333%;
    padding: 4.5rem;

  }
}
@media (max-width: 1140px) {
  .cards_item {
    width: 33.3333%;
    padding: 4.5rem;

  }
}

@media (max-width: 980px) {
  .cards_item {
    width: 33.3333%;
    padding: 4.5rem;

  }
}
@media (max-width: 350px) {
  .cards_item {
    width: 33.3333%;
    padding: 2.5rem;

  }
} */




.card {
background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 250px;
}

.card_content {
  padding: 1rem;
}

.card_title {
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: black;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
.card_image{
  position: relative;
  text-align: center;
  color: black;
}


.restoName{
  font-family: 'Poppins', sans-serif;
  font-size:20px;
  color:#1abc9c ;
  font-weight: bold;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
