<!-- <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a> -->

<div class="main">
  <h1>List of Restaurant</h1>
  <ul class="cards" style="margin-top:-50px">
    <li class="cards_item" *ngFor="let item of list_restaurant">
      <div class="card">
        <div style="margin:0" class="card_image">
          <img src="../../assets/img/restoLogo.png" style="width:200px;height:200px;" />
           <div class="restoName">{{ item.rName }}</div>
        </div>
        <hr>
        <div  class="card_content">
          <p class="card_text">
            <img src="../../assets/img/tag.png" class="mr-1" style="width:18px;height:18px;margin-right:10px">{{ item.rDescription }}
          </p>
          <p>
            <img src="../../assets/img/placeholder.png" class="mr-1" style="width:18px;height:18px;margin-right:10px">{{ item.rAdress }}
          </p>
          <a style="text-decoration:none" routerLink="/list-food/{{ item._id }}">
            <button class="btn card_btn">show foods</button>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
