<!-- <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a> -->

<div class="main">
  <h1>List of restaurant</h1>
  <ul class="cards">
    <li class="cards_item" *ngFor="let item of list_food_res">
      <div class="card">
        <div class="card_image">
          <img src="../../assets/img/food1.jpg" />
        </div>
        <div class="card_content">
          <h2 class="card_title">{{ item.fName }}</h2>
          <p class="card_text">
            {{ item.fDescription }}
          </p>
          <p>
            {{ item.fPrice }}
          </p>
          <a style="text-decoration: none;">
            <button class="btn card_btn">Buy</button>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
