
<div>
<h2 >Register</h2>
<form (submit)="RegisterSubmit()" >
  <div >
    <label for="cName">Name</label>
    <input type="text" [(ngModel)]="cName" name="cName"id="cName" placeholder="Enter Name">
  </div>
  <div>
    <label for="cUsername">Username</label>
    <input type="text" [(ngModel)]="cUsername" name="cUsername" id="cUsername" placeholder="Enter Username">
  </div>
  <div >
    <label for="cEmail">Email</label>
    <input type="email" [(ngModel)]="cEmail" name="cEmail"id="cEmail" aria-describedby="emailHelp" placeholder="Enter Email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div>
    <label for="cNumber">Phone Number</label>
    <input type="tel" [(ngModel)]="cNumber" name="cNumber"  id="cNumber" placeholder="Enter Number">
  </div>
  <div >
    <label for="cAdress">Adress</label>
    <input type="text" [(ngModel)]="cAdress" name="cAdress"  id="cAdress"  placeholder="Enter Adress">
  </div>
  <div>
    <label for="cPassword">Password</label>
    <input type="password" [(ngModel)]="cPassword" name="cPassword"  id="cPassword" placeholder=" Enter Password">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>
</div>

<ul class="collection with-header" style="margin-top:50px;width:50%;margin-left : 240px" *ngFor = "let item of list_customer">
    <li class="collection-header"><h4>{{item.cName}}</h4></li>
    <li class="collection-item">Lieu : {{item.cUsername}} </li>
    <li class="collection-item">Numero : {{item.cAdress}}</li>
</ul>
